---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About" sideBarActiveItemID="about">
    <div class="mb-5 flex justify-center items-center font-specialelite">
        <div class="text-3xl font-bold pt-12 pb-6">About</div>
    </div>

    <div class=" bg-black">

        <div class="flex justify-center items-center pt-10">
            <img src="victor.png" alt="Victor" class="w-2/5 md:w-1/6">
        </div>

        <div class="text-center pt-4 font-semibold font-specialelite">
            hi!
        </div>

        <div class="mb-10 text-center pt-10">
            I am Victor, a third-year student at NYU Abu Dhabi majoring in Interactive Media and minoring in Theater and Psychology. 
            I am passionate about the intersection between art and technology and how we can change the world through it, being through programming, 3D modeling, or designing.
        </div>
    </div>
  </BaseLayout>